$defaultColor: rgba(0,0,100,0.5);
$hoverColor: rgba(200,0,0,0.6);
$defaultSize: 18px;
$defaultPad: 10px;

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

@mixin round($radius) {
	border-radius: $radius;
}


@mixin gradient($start-color, $end-color, $orientation)
 {
 background: $start-color;
 @if $orientation == vertical
 {
 // vertical
 background: -moz-linear-gradient(top,  $start-color 0%, $end-color 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop(100%,$end-color));
 background: -webkit-linear-gradient(top,  $start-color 0%,$end-color 100%);
 background: -o-linear-gradient(top,  $start-color 0%,$end-color 100%);
 background: -ms-linear-gradient(top,  $start-color 0%,$end-color 100%);
 background: linear-gradient(to bottom,  $start-color 0%,$end-color 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=0 );
 }
 @else if $orientation == horizontal
 {
 // horizontal
 background: -moz-linear-gradient(left,  $start-color 0%, $end-color 100%);
 background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start-color), color-stop(100%,$end-color));
 background: -webkit-linear-gradient(left,  $start-color 0%,$end-color 100%);
 background: -o-linear-gradient(left,  $start-color 0%,$end-color 100%);
 background: -ms-linear-gradient(left,  $start-color 0%,$end-color 100%);
 background: linear-gradient(to right,  $start-color 0%,$end-color 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
 }
 @else
 {
 // radial
 background: -moz-radial-gradient(center, ellipse cover,  $start-color 0%, $end-color 100%);
 background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$start-color), color-stop(100%,$end-color));
 background: -webkit-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
 background: -o-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
 background: -ms-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
 background: radial-gradient(ellipse at center,  $start-color 0%,$end-color 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
 }
 }

ul{
	width: 800px;
	padding: 20px;
	@include gradient(#48D1CC, #E0FFFF, vertical);
	@include round(8px);

	.task{
		box-shadow:0px 0px 16px 2px #679e9b;
	}

	li{ margin: 12px 0;
		padding: $defaultPad;
		display: block;
		list-style: none;
		background-color: white;
		color: #008080;
		@include round(4px);

			input[type=checkbox]{
			width: 30px;
			height: 30px;
			vertical-align: middle;
		   }

		   #editButton1{
		   	margin-left: 16px;
		   }
		   #editButton2{
		   	margin-left: 6px;
		   }

		   div{
		   	    margin-left: 12px;
		   	input{
		   		font-size: $defaultSize - 6px;
		   	}

		   	#childtime{
		   		height:15px;
		   	}


		   	button{
		   		font-size: $defaultSize - 8px;
		   		background-color: white;
		   		color: #008080;
		   	}

		   }

		   span{
		   	float: right;
		   	font-size: 14px;
		   }

		   .childList{
		   	padding-top: 0;
		   }

		   ul{
		   	@include gradient(white, white, vertical);
		   	padding: 10px;
		   	width: 700px;


		   	li{
		   		display: inline-block;
		   		height: 20px;
		   		font-size: $defaultSize - 4px;
		   		margin: 10px 3px;
		   		background-color: #B0C572;
		   		color: white;
		   	}

		   	button{
		   		background-color: #5F9FCF;
		   		color: white;
		   	}

		   	.child{
		   		width: 400px;
		   		display: block;
		   		padding: 2px;
		   		background-color: white;
		        color: #008080;
		   	}

		   }

		}

		.completed{
			text-decoration: line-through;
			color: #ccc;
		}
}

